/* .creditcard {
  display: flex;
  border-radius: 0 0 50% 50% / 50px;
  background: #9796f0; 
  width: 100% !important;
  background: -webkit-linear-gradient(to left, #fbc7d4, #9796f0);
  background: linear-gradient(to left, #fbc7d4, #9796f0);
} */

.creditcard {
  display: flex;
  border-radius: 0 0 50% 50% / 50px;
  background: #9796f0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fbc7d4, #9796f0);
  background: linear-gradient(to left, #fbc7d4, #9796f0);
  /*  */
  position: fixed;
  margin: -19px 0 0 0;
  width: 100%;
  z-index: 99px;
}

.creditcard__img {
  margin-top: 97px !important;
}

.creditcard__button {
  display: flex;
  justify-content: flex-end;
  margin: 70px 0px;
}
